@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300&family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope&family=Montserrat:wght@300&family=Rubik:wght@400;500;700&display=swap');

.header {
  width: 100%;
  height: 960px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(../../images/image-fonds.jpg);
  background-size: cover;
  background-position: center;
}
.logo {
  display: flex;
  padding: 51px 0px 0px 69px;
}
.title__research {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  width: 37%;
  margin: 169px 0px 30px 0px;

  color: var(--Yellow, #FFD15B);
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.research {
  position: relative;
}
.research__bar {
  width: 954px;
  height: 72px;
  border-radius: 11px;
  padding-left: 30px;
}
.button__research {
  position: absolute;
  right: 1%;
  top: 12%;
  width: 51px;
  height: 52px;
  border-radius: 10px;
  background-color: #1B1B1B;
}
.button__research:active {
  background-color: #FFD15B;
}
.button_research_filter {
  position: absolute;
  top: 16px;
  right: 28px;
  color: #8b8b8b;
}
.clear__logo__filter{
  display: none;
  position: absolute;
  top: 5px;
  right: 15px;
  margin-right: 10px;
}
.logo__research {
  width: 27px;
  height: 28px;
  margin: auto;
}
.logo__clear {
  display: none;
  position: absolute;
  right: 8%;
  top: 40%;
}
.logo__clear.active {
  display: block;
}
.tag__container {
  display: flex;
  padding: 30px 102px 0px 102px;
  background: #EDEDED;
}
.tag {
  display: inline-flex;
  padding: 17px 18px;
  align-items: center;
  gap: 60px;
  margin-right: 66px;
  border-radius: 10px;
  background: #FFD15B;
}
.tag i {
  align-items: center;
  cursor: pointer;
  padding: 4px 6px;
  border-radius: 50%;
}
.tag i:hover {
  color: #FFD15B;
  background-color: #000;
}
.filter__total {
  display: flex;
  justify-content: space-between;
  padding: 30px 102px 0px 102px;
  background: #EDEDED;
}
.filter__total h3 {
  display: flex;
  align-items: center;
}
.filter__container{
  display: flex;
}
.filter__dropdown {
  display: inline-flex;
  padding: 17px 16px;
  align-items: center;
  margin-right: 66px;
  border-radius: 11px;
  background-color: #FFF;
}
.custom-dropdown {
  position: relative;
  width: 200px;
  padding: 17px 16px; 
  border-radius: 11px;
  background: #FFF;
  margin-right: 25px;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
.filter__search {
  width: 163px;
  height: 36px;
  flex-shrink: 0;
  margin: 11px 16px 11px 16px;
  border-radius: 2px;
  border: 1px solid var(--Light-Grey, #C6C6C6);
}
.dropdown-list {
  display: none;
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  
}

.dropdown-list.active {
  display: block;

}

.dropdown-item {
  padding: 5px 5px 5px 16px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #FFD15B;
}
.arrow-icon {
  transition: transform 0.3s ease;
}

.arrow-icon.active {
  transform: rotate(180deg);
}
.recipes__list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  padding: 100px;
  background: #EDEDED;
}

.emptyTitle {
  font-family: 'Anton', sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.totalRecipes {
  color: var(--Black, #1B1B1B);
  font-family: Anton;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.recipe__container {
  position: relative;
  width: 380px;
  height: 731px;
  border-radius: 21px;
  overflow: hidden;

  background: #FFF;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}
.recipe__container img {
  width: 380px;
  height: 253px;
  object-fit: cover;
}

.recipe__container h2 {
  margin: 32px 0px 0px 25px;

  color: #000;
  font-family: Anton;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.recipe__container h3 {
  margin: 29px 0px 15px 25px;
  color: #7A7A7A;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

.recipe__container p {
  margin: 0px 25px;
  color:#1B1B1B;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe__time {
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 15px;
  margin: 22px 22px 0px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 14px;
  background:#FFD15B;
}

.recipe__ingredients__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 20px;

  padding: 0px 25px;
}


.recipe__ingredients__container__ingredient p {
  margin: 0px;
  height: 20px;
  color: #1B1B1B;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ingredient__quantity span {
  color: #7A7A7A;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}